:root {
    background-color: antiquewhite;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
h1, h2 {
    color: #de941f;
}
ul {
    text-align: left;
    margin-left: 550px;
}
main {
    text-align: center;
}
p {
    font-size: 20px;
    border: 0.2em solid firebrick;
}
footer {
    text-align: center;
    height: 100px;
    background-image: url(/image/liz_rus_versus_footer.jpg);
}
.final_cite {
    background-color: rgba(255, 255, 255, 0.5);
}
.lz_math_eq > tbody > tr > td {
    border-collapse: collapse;
    text-align-all: center;
    background-color: #bfe089;
}
@font-face {
    font-family: "Pixelify";
    src: url(/fonts/PixelifySans-Medium.ttf);
}
#ctd {
    background-color: #9a5565;
    color: azure;
    font-size: 1.5em;
    font-family: "Pixelify", serif;
}
th {
    color: #5cac26;
    background-color: #ac3121;
}
.form_fill, .nm {
    text-align: justify;
}
#nm {
    width: 83%;
}
#check1 {
    text-align: center;
}
#sub_btn1 {
    width: 100%;
}
a[href="https://www.youtube.com/watch?v=gYToaNJJftw"] {
    font-size: 1.25em;
}
input[type="text"] {
    padding: 0 0 0 10px;
}
