* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
main, article, section {
    display: block;
}
header {
    border: 1px solid;
    text-indent: 20px;
    background-color: #bfe089;
}
nav > ul > li {
    text-indent: 10px;
    background-color: #9a5565;
    display: inline;
}
section {
    left: 0;
    width: 660px;
    margin: 20px;
}
aside {
    left: 0;
    width: 220px;
    margin: 15px 0;
    text-indent: 20px;
    background-color: #d9f5fa;
}
footer {
    text-align: center;
    text-indent: 20px;
    border-top: 2px solid;
}
.d1 {
    width: 330px;
    padding: 30px;
    border: 40px solid red;
    margin: 0;
}
.d2 {
    width: 330px;
    border: 40px solid red;
    margin: 0;
}
.d3 {
    width: 330px;
    padding: 30px;
    border: 40px solid red;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.d4 {
    width: 330px;
    padding: 30px;
    border: 40px solid red;
    margin: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
img {
    width: 330px;
    padding: 30px;
    border: 40px solid red;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    display: block;
    margin: 0 auto;
}
#span1 {
    padding: 10px;
    border: 2px solid;
    background-color: grey;
}
#span2 {
    padding: 10px;
    margin: 20px;
    border: 2px solid;
    background-color: grey;
}
#span3 {
    display: inline-block;
    padding: 10px;
    background-color: grey;
    border: 2px;
}
#after-body {
    width: 980px;
    margin: 15px auto;
    text-align: left;
}
