.wrap, aside {
    width: 460px;
}
.wrap-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body{
    height: 666px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: space-between;
    color: firebrick;
}
header, footer {
    align-self: center;
}