body {
    height: 1200px;
}
#dv1 {
    position: relative;
    left: 120px;
    top: 20px;
    background-color: blue;
}
#dv2 {
    position: absolute;
    inset: 0;
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
}
#dv3 {
    position: absolute;
    inset: 10px 200px 20px;
}
#dv4 {
    position: absolute;
    top: 40px; left: 40px;
}
.sssh {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}
.subdiv2 {
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
}
#fixdv {
    position: fixed;
    top: 80px;
    left: 10px;
}
.maindiv {
    width: 500px;
    height: 300px;
    overflow: scroll;
    margin-left: 150px;
}
dt {
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
}
header {
    position: relative;
    background: no-repeat center url(/build1/images/pzh.jpg);
    z-index: 0;
    text-align: center;
    color: orange;
    font-size: 3.2em;
}
header::after {
    position: absolute;
    background-color: #00e6fb;
    z-index: -1;
}
.tasks {
    display: grid;
    grid-template: repeat(2, 220px) 420px / 800px;
    margin: 3em auto;
}
.tasks img {
    width: 528px;
    height: 207px;
}
#fbtd {
    width: 720px;
    height: 405px;
}
