.box p { /*селектор потомка*/
    color: red;
}
.box p { /*дочерний селектор*/
    color: red;
}
div ~ p { /*общий родственный*/
    background-color: red;
}
div + p { /*соседний родственный комбинатор*/
    background-color: lightblue;
}
a.linkoch:hover {
    font-weight: bold;
    font-size: 8em;
    color: brown;
}
a:link {
    font-weight: 400;
    color: #9682cc;
    font-family: Dialog, serif;
}
a:visited {
    font-weight: bold;
    color: #de941f;
    font-family: Onyx, serif;
    text-decoration: none;
}
p.parph:first-child {
    color: orange;
}
p > i:first-child {
    font-size: 2em;
}
p:first-child > i {
    padding: 10px;
}
li:first-child {
    background-color: #bfe089;
}
li:last-child {
    background-color: antiquewhite;
}
span, div em {
    padding: 5px;
    border: 1px solid green;
    display: inline-block;
    margin-bottom: 3px;
}
.first span:nth-child(2n + 1), .second span:nth-child(2n + 1) {
    background-color: lime;
}
h1::before {
    content: url(/image/flyaig.png);
}
a::after {
    content: url(/image/LFrT9llTd5E.jpg);
}
span, div em {
    padding: 5px;
    border: 1px solid green;
    display: inline-block;
    margin-bottom: 3px;
}
.first span:nth-child(2n + 1),
.second span:nth-child(2n + 1) {
    background-color: lime;
}
div::first-line {
    color: red;
}
h1 {
    color: blue;
}
h2 {
    background-color: blue;
    color: white;
}
.container {
    font-size: 200%;
}
